

.card-emsefor-item{
    height: 350px;
    background-color: #061320;
    padding-top: 5px;
    transition: .5s;
    border: solid 2px #0e1d3a;
    box-shadow: 1px -2px 16px 2px rgba(18, 42, 80, 0.75);
    -webkit-box-shadow: 1px -2px 16px 2px rgba(18, 42, 80, 0.75);
    -moz-box-shadow: 1px -2px 16px 2px rgba(18, 42, 80, 0.75);
    color: #cdcdcd;
}

.title-item {
    color: #cdcdcd;
}

#icon-empresa{
    color: white;
}

.card-emsefor-item .card-footer {
    background-color: unset;
}

.card-emsefor-item:hover{
    background: #4264eb83;
    box-shadow: 1px -2px 16px 2px rgba(71, 98, 141, 0.75);
    -webkit-box-shadow: 1px -2px 16px 2px rgba(71, 98, 141, 0.75);
    -moz-box-shadow: 1px -2px 16px 2px rgba(71, 98, 141, 0.75);
}