

#search-rodal-container{
    margin-top: 10px;
    margin-bottom: 15px;
    padding-right: 5px;
    padding-left: 5px;
}

#input-buscar-rodal{
    background-color: #0b1d49;
    color: #ffffff;
}
.input-icon-addon{
    color: #ffffff;
}